// Your variable overrides
$body-bg: #0e1319;
$body-color: white;
$primary: white;
$font-family-base: "Bebas Neue", cursive;
// #D9D9DA
// #2C3541
// Include all Bootstrap

a:hover {
  opacity: 0.7;
}

.index {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #0e1319;
}
.left_box {
  margin: 50px;
}
.right_box {
  margin: 50px;
}
.right {
  right: 0;
  background-color: #fff;
}

.navigation {
  color: teal;
  font-size: larger;
}

.social {
  position: absolute;
  bottom: 50vh;
  font-size: larger;
}

.name_intro {
  color: #fff;
  position: absolute;
  bottom: 50px;
}
p {
  color: #2c3541;
  margin: 1px;
}
@import "../node_modules/bootstrap/scss/bootstrap";
