// Your variable overrides
$body-bg: #0e1319;
$body-color: white;
$primary: white;
$font-family-base: "Bebas Neue", cursive;
// #D9D9DA
// #2C3541
// Include all Bootstrap

body {
  height: 100vh;
  width: 100vw;
}
p {
  color: #2c3541;
  margin: 1px;
}
main {
  position: absolute;
}

// NAV BAR

.nav_bar {
  position: fixed;
  height: 100%;
  width: 40%;
  padding: 5% 0 5% 5%;
  z-index: 2;
}
.nav {
  width: fit-content;
}

#name_intro {
  bottom: 0%;
  position: fixed;
  margin-bottom: 5%;
}
#name_intro_mobile {
  bottom: 5%;
  left: -3%;
  position: fixed;
  margin-bottom: 5%;
  transform: rotate(270deg);
}
#name_intro_mobile_index {
  bottom: 0%;

  position: fixed;
  margin-bottom: 5%;
  color: #d9d9da !important;
}

.nav_bar a:hover {
  font-size: larger;
  opacity: 0.7;
}
.social a:hover {
  font-size: larger;
  opacity: 0.7;
}

.social {
  position: fixed;
  bottom: 50%;
}

// FOOTER

.contact {
  position: fixed;
  z-index: 5;
  right: 0%;
  height: 100%;
  width: 10%;
  margin: 5% 5% 5% 0;
}

.mail {
  color: #d9d9da;
  position: absolute;
  font-size: larger;
  right: 0;
}

#phone {
  color: #d9d9da;
  position: absolute;
  right: -25%;
  top: 40%;
  transform: rotate(90deg);
}

// LEFT BOX

.left_box {
  background-color: #0e1319;
  padding: 5%;
  position: absolute;

  height: 100%;
  right: 50%;
  left: 0%;
}

// RIGHT BOX

.right_box {
  background-color: #fff;
  padding: 5%;

  position: fixed;
  height: 100%;
  right: 0px;
  left: 50%;
}

// IMAGE

#picture {
  position: fixed;
  bottom: 0%;
  left: 33vw;
  height: 80vh;
  transition: 1s ease;
  filter: grayscale(100%);
}
#picture_mobile {
  position: fixed;
  bottom: 0%;
  left: 5vw;
  height: 70vh;
}

#picture:hover {
  opacity: 1 !important;
  filter: grayscale(0%);
  transition: 1s ease;
}

// ABOUT SECTION

.about_right_box {
  background-color: #fff;
  padding: 5%;
  padding-left: 10%;
  padding-right: 10%;
  position: fixed;
  height: 100%;
  right: 0px;
  left: 30%;
  overflow: scroll;
}

#about_picture {
  position: fixed;
  bottom: 0%;
  right: 55%;
  height: 80%;
}

.about_header {
  color: #0e1319;
  font-size: xx-large;
}
.about_underline {
  color: #2c3541 !important;
  font-size: smaller;
  margin-bottom: 2em;
}
.about_text a {
  color: #d9d9da;
}

.article {
  display: flex;
  padding-left: 10%;
  flex-direction: column;
  height: 100%;
  color: #2c3541;
}

.text {
  font-size: larger;
}

.container {
  padding: 5% 0 0 0 !important;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-pills {
  display: flex;
  font-size: larger;
  justify-content: space-around;
  width: 100%;
}
.tab-content {
  font-size: larger;
  padding-top: 2%;
  height: 10;
}

.lang p:nth-child(even) {
  margin: -1% 0 1% 0;
  font-size: smaller;
}
.lang p:nth-child(odd) {
  margin: 0;
}

#table {
  color: #2c3541;
}
.intel {
  font-size: smaller;
  padding-top: 0 !important;
  color: #d9d9da;
}
.row1 > td {
  padding-bottom: 0 !important;
}

// TRAVELS SECTION

.travel_right_box {
  background-color: #fff;
  padding: 5%;
  position: fixed;
  height: 100%;
  right: 0px;
  left: 30%;
  overflow: scroll;
}

.image_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 5px;
  position: relative;
  right: 0px;

  margin-left: 20%;
  margin-right: 10%;
}
.image_wrapper img {
  position: static;
  width: 100%;
}
.image_wrapper img:hover {
  filter: blur(5px);

  transition: 1s;
  display: block;
}

.image_wrapper div {
  position: relative;
}

.IMG1:hover p {
  display: block;
}

.IMG2:hover p {
  display: block;
}
.IMG3:hover p {
  display: block;
}
.IMG4:hover p {
  display: block;
}

.IMG5:hover p {
  display: block;
}
.IMG6:hover p {
  display: block;
}
.IMG7:hover p {
  display: block;
}
.IMG8:hover p {
  display: block;
}

.image_wrapper p {
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #d9d9da;
  width: 100%;
  padding: 20px;
  margin: 0;
  display: none;
}

@import "../node_modules/bootstrap/scss/bootstrap";
